{% block subject %}Account Password Reset{% endblock %}

{% block html_body %}

    <h2>Account Password Reset</h2>
    <p style="color: #333; font-size: 24px;" >Dear {{ user.username }},</p>
    <p style = "color: #555; font-size: 16px;"> You're receiving this email because you requested a password reset for your user account. Please go to the following page and choose a new password:</p>
    <a href="http://127.0.0.1:5500/password_reset.html?uid={{ uid }}&token={{token}}"> <button style = "color: #FFFFFF;width:200px; background-color:#1A73E8; font-size:16px">Reset Password</button> </a>
    <p>Best regards,</p>
    <h1 style="color:#555">The Gift Card Store team</h1>
{% endblock %}