Subject: {% block subject %}Account Password Changed{% endblock %}

{% block html_body %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <h2>Account Password Changed</h2>
  <p style="color: #333; font-size: 24px;">Dear {{ user.username }},</p>
  <p style="color: #555; font-size: 16px;">You're receiving this email because your password has been changed.</p>
  <p>If you did not initiate this change, please contact our support team immediately.</p>
  <p>Best regards,</p>
  <h1 style="color:#555">The Gift Card Store team</h1>
</body>
</html>
{% endblock %}