{% block subject %} Your Payment is Confirmed #{{ order.id }} {% endblock %}

{% block html_body %}
    <style>
        /* Define your CSS styles here */
        h1 {
            color: #333;
            font-size: 24px;
        }
        
        p {
            color: #555;
            font-size: 16px;
        }
        
        a {
            color: #007bff;
            text-decoration: none;
        }
    </style>
    
    <h1 style="color: #333; font-size: 24px;">Hello, {{ order.customer }}!</h1>
    <p style="color: #555; font-size: 16px;">Your payment is confirmed on the blockchain. We will try to deliver your order as soon as possible.</p>
    <p style="color: #555; font-size: 16px;">Please be patient</p>
    <p style="color: #555; font-size: 16px;">Thanks, Gift Card Store Team</p>

{% endblock %}
